{% extends "base.html" %}
{% load i18n %}

{% block content %}
	<div>
        <div id="hero">
            <div>
            <h1 class="fw-bold">YouTube Demo Application</h1>
            <h5 class="fw-light">Watch, like and upload your own videos!</h5>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div>
            <h1 class="fw-normal text-center">{% trans "Account activation failed." %}</h1>
        </div>
    </div>
<!--<p>{% trans "Account activation failed" %}</p>-->
{% endblock %}
