{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div>
        <div id="hero">
            <div>
            <h1 class="fw-bold">YouTube Demo Application</h1>
            <h5 class="fw-light">Watch, like and upload your own videos!</h5>
            </div>
        </div>
        <br>
        <br>
        <br>

        {% if validlink %}
<!--        <form method="post" action=".">-->
<!--          {% csrf_token %} -->
<!--        -->
<!--          <div class="mui&#45;&#45;text-danger">-->
<!--            {% for error in form.non_field_errors %}-->
<!--              {{error}}-->
<!--            {% endfor %}-->
<!--          </div>-->
<!--        -->
<!--          <div class="mui-textfield">-->
<!--            {{ form.new_password1.label }}-->
<!--            {{ form.new_password1 }}-->
<!--          </div>-->
<!--          <div class="mui-textfield">-->
<!--            {{ form.new_password2.label }}-->
<!--            {{ form.new_password2 }}-->
<!--          </div>-->
<!--        -->
<!--          <input class="mui-btn mui-btn&#45;&#45;primary" type="submit" value="{% trans 'Submit' %}" />-->
<!--        </form>-->

            <form method="post">
                {% csrf_token %}

                <div class="container">
                  <div class="row">
                      <div class="col-lg-4">
                        </div>
                          <div class="col-lg-4 d-flex justify-content-center">
                              <ul class="flashes text-success">
                              {% for error in form.non_field_errors %}
                                  <li>{{error}}</li>
                              {% endfor %}
                              {% for error in form.new_password1.errors %}
                                  <li>{{error}}</li>
                              {% endfor %}
                              {% for error in form.new_password2.errors %}
                                  <li>{{error}}</li>
                              {% endfor %}
                              </ul>
                          </div>
                        <div class="col-lg-4">
                      </div>
                  </div>
                </div>
                <div class="container">
    <!--                <div class="row">-->
    <!--                    <div class="col-lg-4">-->
    <!--                    </div>-->
    <!--                    <div class="col-lg-4" style="background-color: #F7F8F9; padding-top: 22px; padding-left: 20px; padding-right: 20px; padding-bottom: 10px; border-top-left-radius: 5px; border-top-right-radius: 5px;">-->
    <!--                        <div class="input-group">-->
    <!--                            <span class="input-group-text">-->
    <!--                                <span class="bi bi-person"></span>-->
    <!--                            </span>-->
    <!--                            <input type="username" class="form-control" placeholder="Username" required name="username">-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="col-lg-4">-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="row">-->
    <!--                    <div class="col-lg-4">-->
    <!--                    </div>-->
    <!--                    <div class="col-lg-4" style="background-color: #F7F8F9; padding-top: 10px; padding-left: 20px; padding-right: 20px; padding-bottom: 10px;">-->
    <!--                        <div class="input-group">-->
    <!--                            <span class="input-group-text">-->
    <!--                                <span class="bi bi-envelope"></span>-->
    <!--                            </span>-->
    <!--                            <input type="email" class="form-control" placeholder="Email" required name="email">-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="col-lg-4">-->
    <!--                    </div>-->
    <!--                </div>-->
                    <div class="row">
                        <div class="col-lg-4">
                        </div>
                        <div class="col-lg-4" style="background-color: #F7F8F9; padding-top: 22px; padding-left: 20px; padding-right: 20px; padding-bottom: 10px; border-top-left-radius: 5px; border-top-right-radius: 5px;">
                            <div class="input-group">
                                <span class="input-group-text">
                                    <span class="bi bi-key"></span>
                                </span>
                                <input type="password" class="form-control " placeholder="Password" required name="new_password1">
                            </div>
                        </div>
                        <div class="col-lg-4">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                        </div>
                        <div class="col-lg-4" style="background-color: #F7F8F9; padding-top: 10px; padding-left: 20px; padding-right: 20px; padding-bottom: 10px;">
                            <div class="input-group">
                                <span class="input-group-text">
                                    <span class="bi bi-key"></span>
                                </span>
                                <input type="password" class="form-control " placeholder="Repeat password" required name="new_password2">
                            </div>
                        </div>
                        <div class="col-lg-4">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                        </div>
                        <div class="col-lg-4" style="background-color: #F7F8F9; padding-top: 10px; padding-left: 20px; padding-right: 20px; padding-bottom: 22px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                            <div class="input-group">
                                <button type="submit" class="btn btn-primary">{% trans 'Change password' %}</button>
                                <button type="reset" class="btn btn-danger">Reset</button>
                            </div>
                        </div>
                        <div class="col-lg-4">
                        </div>
                    </div>
                </div>
            </form>
            <br>
            <br>
        {% else %}
            <div>
                <h1 class="fw-normal text-center">{% trans "Password reset failed." %}</h1>
            </div>
<!--        <p>{% trans "Password reset failed" %}</p>-->
        {% endif %}
  </div>
{% endblock %}
